@charset "UTF-8";

@font-face {
    font-family: 'Roboto' ;
    src: url(fontes/Roboto-Regular.ttf);
}

*{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;   
}
:root{
    --cor1:rgba(255, 1, 1, 0.61);
    --cor2:black;
    --cor3:#28104E;

    --fonte-links: 'Roboto', sans-serif;

}
header{
    background-image: url(imagens/Arishem\ -\ blur.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding: 150px;
}
 
.titulosparalax{
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.486);
}
.titulosparalax > h1 {
    padding: 5px;
}
.titulosparalax > h2{
    padding: 5px;

}
nav{
    background-color: black;
    color: white;
    padding: 10px;  
    /*Area de fundo do Nav ( Home , fale conosco ...*/
}
nav > a{
    font-size: bold;
    padding-right: 10px;
    font-weight: bold;
    color: white;
    background-color: black;
    text-decoration: none;
    /*Link do nav*/
}

nav > a:hover{
    padding: 10px ;
    background-color: var(--cor3);
    transition-duration: 0.5s;
    border-radius: 10px;
    /*Efeito em cima da barra horizontal*/
}
a{
    text-decoration: none;
    color: rgb(95, 95, 95);
    padding: 2px;
    border-radius: 10px;
    font-family: var(--fonte-links) ;
    /*Link dentro do texto*/
}
body{
    max-width: 100%;
    min-width: 360px;
}
article{
    max-width: 100%;
    min-width: 360px;
    margin: auto;
}

article > h1{
    padding-top: 20px;
    padding-left: 35px;
    text-align: justify; 
    font-size: 20px;
    font-weight: bold;
    width: 70%;
    margin-left: 83px;
    /*Crítica Eternos*/
    
}
p{
    padding: 20px;
    text-align: justify; 
    font-size: 20px;
    width: 80%;
    margin-left: 100px;
    
    
}
img{
    border-radius: 10px; 
    width: 800px;
    margin-left: 20%;

}
img#chloe{
    width: 500px;
    
}
div.video{
    background-color: #28104E;
    padding: 20px;
    padding-bottom: 36%;
    position: relative;
    width: 70%;
    margin: auto;

}
div.video > iframe{
    position: absolute;
    top: 5%;
    right: 5%;
    width: 90%;
    height: 90%;
}
aside > h1{
    padding-top: 20px;
    padding-left: 25px;
    text-align: justify; 
    font-size: 20px;
    font-weight: bold;
    width: 70%;
    margin-left: 85px;
    /*Ficha tecnica*/
}
aside > p {
    padding: 10px;
    text-align: justify;
    font-size: 15px;
}
footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 14px;
}
